.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			a(href='#') Author
			|  2016

link(rel='stylesheet', href='/assets/css/style.css')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

block footer